# Dependencias
node_modules/
npm-debug.log
yarn-error.log

# Archivos generados por Next.js
.next/
out/

# Archivos de compilación
dist/
build/

# Archivos de caché y temporales
*.log
*.cache
*.tsbuildinfo

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local