.moviesContainer {
    min-height: 75vh; /* Altura mínima para cubrir la pantalla */
    background: linear-gradient(to bottom, #1A1F2E, #3A4066);
    padding: 2rem; /* Margen interior */
    display: flex; /* Flexbox */
    flex-direction: column; /* Columna */
    align-items: center; /* Centrado horizontal */

  }