
.directorsContainer {
  min-height: 75vh; 
  padding: 2rem; 
  display: flex;
  flex-direction: column;
  
}


.formLabel {
  color: #FFFFFF; 
}


.table {
  background-color: transparent; 
  color: #FFFFFF; 
}

.table th,
.table td {
  border-color: #3A4066; 
}

.table thead th {
  background-color: #2D334A; 
  color: #FFFFFF;
}

.table tbody tr {
  background-color: #2D334A;
}

.table tbody tr:hover {
  background-color: #3A4066; 
}

/* Ajustar el modal */
.modalContent {
  background-color: #2D334A; 
  color: #FFFFFF;
}

.modalHeader,
.modalFooter {
  background-color: #1A1F2E; 
  border-color: #3A4066;
}

.modalTitle,
.formLabel {
  color: #FFFFFF;
}

.btnClose {
  filter: invert(1); 
}



